h1{
  display:flex;
  justify-content:center;
}

body{
  background:rgb(255, 192, 203);
  padding: 50px;
width: 100vw;
box-sizing: border-box;
}

.backtotop{
  display:flex;
  justify-content:center;
}

.navlist {
  width:100%;
  border: 1px solid black;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0;
  margin:0;
  list-style-type: none;
  background:rgb(250, 160, 160);
}
/*pastel red*/

.navlist li {
  width:50%;
  box-sizing:border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 60px;
}


#headshot img {
  width:100%;
  max-width:300px;
  display: flex;
  justify-content: center;
  /*need to make this smaller and centered*/
}


/*give more space around the edges, not starting right on the left side*/
