.navlist {
  width:100%;
  border: 1px solid black;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0;
  margin:0;
  list-style-type: none;
  background:rgb(250, 160, 160);
}
/*pastel red*/

#headshot{
  display:flex;
  justify-content:center;
  width: 100px;
  height:auto;
  /*need to make this smaller and centered*/
}

body {
background:rgb(255, 192, 203);
}
/*pink*/

h1{
  display:flex;
  justify-content:center;
}
